<p id="notice"><%= notice %></p>

<h1>A Landing page for stream test</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<%= button_to "TRYSTREAM", messages_starttest_path, :method => 'post' %>
  </tbody>
</table>

<br>

